<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    <body>
    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealership Review</a>
            <ul class="nav navbar-nav navbar-right">
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="{% url 'djangoapp:about' %}">About Us</a>
                    <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                    </div>
                </div>
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }} ({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="username" name='username'>
                            <input class="form-control" type="password" placeholder="password" name='password'>
                            <button class="btn btn-primary mx-1">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>

    <main class="text-center">
        <h3>Welcome to Best Cars dealership, home to the best cars in North America. We sell and imported cards at reasonable prices.</h3>
        <br>
        <h3>Reach us by our telephone line +12321 12312312</h3>
        <br>
        <h3>Also you can visit us in Lorem Ipsum n123</h3>


    </main>

    </body>

</html>
